---
// import Social from "@/components/Social.astro";
// import config from "@/config/config.json";
// import menu from "@/config/menu.json";
// import social from "@/config/social.json";
import siteConfig from "@/config/site.json";
import { markdownify } from "@/lib/utilities";

// const { footer }: { footer: { name: string; url: string }[] } = menu;
---

<footer class="bg-theme-light">
  <div class="border-t border-border py-7">
    <div class="container text-center text-light">
      <p set:html={markdownify(siteConfig.copyright)} />
    </div>
  </div>
</footer>
