---
import siteConfig from "@/config/site.json";
import ImageMod from "./ImageMod.astro";

const logo = siteConfig.logo;
---

<a href="/" class="navbar-brand inline-block">
  <ImageMod
    src={logo.src}
    class="inline-block"
    width={40}
    height={40}
    alt={logo.alt}
    style={{
      height: 20,
      width: 20,
    }}
  />
  Applied Graphs
</a>
